/* ============== COMMON STYLES ============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #18181b;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 360px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.wrapper {
    background: url(./icon/waves.svg) top right no-repeat;
    background-size: contain;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ============== MOBILE HEADER ============== */

.header-menu {
    display: none;
}

.header-vr-button {
    display: none;
}

.header-vr {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-container {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-open-btn {
    width: 32px;
    height: 32px;
    background: none;
    border-top: 2px solid rgb(12, 186, 241);
    border-left: 2px solid rgb(12, 186, 241);
    border-bottom: 2px solid rgb(233, 92, 233);
    border-right: 2px solid rgb(233, 92, 233);
}

.mobile-menu-open-btn:hover,
.mobile-menu-open-btn:focus {
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    border: none;
    transition: all .3s ease 0s;
}

.mobile-menu-open-btn-icon {
    display: flex;
}

.logo-icon {
   fill: aliceblue;
}




/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.hero {
    padding-top: 30px;
    padding-bottom: 300px;
    background: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(./icon/stripes.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
}

.hero-container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 100%;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.20833;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 10px;
}

.hero-description {
    font-weight: 300;
    font-size: 16px; 
    line-height: 1.75;
    color: #d1d1d1;
    padding-bottom: 20px;
}

.hero-button-action {
    font-weight: 700;
    font-size: 14px; 
    line-height: 1;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 18px 38px;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    display: flex;
    border: none;
}

.hero-button-action:hover,
.hero-button-action:focus {
    font-size: medium;
    background: #ca6aeb;
    transition: all .3s ease 0s;
}

.hero-contant {
    margin-bottom: 32px;
}

.hero-clients-list {
    max-width: 278px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 120px;
}

.underline {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    padding-right: 8px;
    position: relative;
}

.underline::before {
    display: block;
    content: "";
    position: absolute;
    width: 48px;
    height: 7px;
    left: 50%;
    bottom: -5%;
    background: url(./icon/smear.svg) center no-repeat;
    transform: translateX(-50%);
}

.clients-text {
    font-weight: 300;
    color: #d1d1d1;
}

.clients-list {
    display: flex;
    margin-left: 12px;
}

.clients-item {
    margin-left: -12px;
}

.hero-column {
    max-width: 196px;
}

.hero-clients-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 196px;
}

.play::before {
    content: "";
    position: absolute;
   top: auto;
   left: auto;
    width: 1.75rem;
    height: 1.75rem;
    background: url(./icon/play.svg) center no-repeat;
    z-index: 2;
}

.hero-column {
    content: "";
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.hero-photo-image {
    content: "";
    position: absolute;
    width: auto;
    height: 100%;
    left: 40%;
    top: 63%;
    margin: auto;
}
/* ============== /MOBILE HERO ============== */

/* ============== MOBILE ADVANTAGES ============== */

.advantages-section {
    padding-top: 36px;
    padding-bottom: 36px;
    background: #252532;
    margin-top: -200px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;   
}

.advantages-container {
   padding-left: 36px;
   padding-right: 36px;
}

.advantages-list-title {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-bottom: 12px;
}

.advantages-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #b0b0b2;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.icon {
    padding-bottom: 42px;
}

/* ============== /MOBILE ADVANTAGES ============== */

/* ============== MOBILE ABOUT US ============== */

.about-section {
    margin-top: 100px;
}

.about-photo {
    margin-bottom: 48px;
}

.about-photo-image {
    background-color: #252532;
}

.about-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 12px;
    display: inline-block;
}

.about-subtitle {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 12px;
}

.about-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #d1d1d1;
    padding-bottom: 24px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 32px;
}

.about-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    padding-left: 28px;
    background: url(./icon/check-box.svg) left center/16px 16px no-repeat;
}

.about-button-action {
    font-weight: 700;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding: 18px 38px;
        background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
        display: flex;
        border: none;
}

.about-button-action:hover,
.about-button-action:focus {
    font-size: medium;
    background: #ca6aeb;
    transition: all .3s ease 0s;
}

/* ============== /MOBILE ABOUT US ============== */

/* ============== MOBILE OUR SERVICE ============== */

.service-section {
    margin-top: 100px;
}

.service-top-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding-bottom: 12px;
}

.service-top-subtitle {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 12px;
}

.service-top-text {
    font-weight: 300;
    font-size: 16px; 
    line-height: 1.75;
    color: #d1d1d1;
}

.service-top {
    margin-bottom: 24px;
}

.service-content {

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.service-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 291px;
    background: rgba(37, 37, 50, 0.6);
    padding-top: 38px;
    padding-left: 32px;
}

.service-icon {
     margin-bottom: 50px;
}

.service-list-title {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-bottom: 12px;
}

.service-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #b0b0b2;
}

.overlay {
    
    position: absolute;
    top: 20%;
    left: 35%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    background-color: transparent;
    transition: transform 250ms linear;
}

.service-card:hover .overlay {
    transform: translateY(0%);
}

.section-button-action {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 18px 38px;
    height: 50px;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    border: none;
}

.section-button-action:hover,
.section-button-action:focus {
    font-size: medium;
    background: #ca6aeb;
    transition: all .3s ease 0s;
}

/* ============== /MOBILE OUR SERVICE ============== */

/* ============== MOBILE WHY CHOOSE US ============== */

.choose-section{
    margin-top: 100px;
    margin-bottom: 50px;
}

.choose-photo {
    background: #252532;
    margin-bottom: 48px;
}

.choose-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-flex;
    padding-bottom: 12px;
}

.choose-subtitle {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 32px;
}

.choose-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.choose-item-text {
    font-weight: 500;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    display: flex;
    justify-content: space-between;
}

.button-up {
    background-color: transparent;
    border: none;
}

.passionate-item-text {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.75;
    color: #d1d1d1;
}

/* ============== /MOBILE WHY CHOOSE US ============== */

/* ============== MOBILE HOW TO GET STARTED ============== */

.started-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.started-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-flex;
    padding-bottom: 12px;
    margin-left: 30px;
    margin-right: 30px;
}

.started-subtitle {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.started-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 32px;
}

.started-tag {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    text-align: center;
    color: #fff;
    border-radius: 16px;
    padding: 2px 10px;
    width: 90px;
    height: 24px;
    background: rgba(255, 255, 255, 0.3);
}

.started-info-title {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    padding-top: 12px;
}

.started-info {
    background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(./images/started/image-start-mob.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 254px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;
    margin-bottom: 32px;
}

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .started-info {
         background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                 rgba(17, 17, 17, 0.40) 100%),
             url(./images/started/image-start-mob@2x.jpg);
     }
 }

 .started-button-action {
    padding: 18px 38px;
    height: 50px;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none;
 }

 .started-button {
    display: flex;
    justify-content: center;
 }

 .started-button-action:hover,
 .started-button-action:focus {
    font-size: medium;
    background: #ca6aeb;
    transition: all .3s ease 0s;
  }

/* ============== /MOBILE HOW TO GET STARTED ============== */

/* ============== MOBILE TESTIMONIAL ============== */

.testimonial-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.testimonial-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.testimonial-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 12px;
}

.testimonial-subtitle {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
}

.testimonial-body {
    position: relative;
    min-height: 1247px;
    background: url(./icon/testimonial/line.svg) center no-repeat;
}

.testimonial-photo {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27.5%;
    left: 0;
}

.testimonial-clients-btn {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.clients-btn {
    position: relative;
    background: url(./icon/testimonial/bg.svg) center no-repeat;
}

.testimonial-clients-btn:hover,
.testimonial-clients-btn:focus {
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
}

.testimonial-clients-item {
    content: "";
    position: absolute;
}

.client6 {
    top: 94%;
    left: 18%;
}

.client5 {
    top: 85%;
    left: 65%;
}

.client4 {
    top: 74%;
    left: 12%;
}

.client3 {
    top: 66%;
    left: 64%;
}

.client2 {
    top: 20%;
    left: 60%;
}

.client1 {
    top: 10%;
    left: 10%;
}

/* ============== /MOBILE TESTIMONIAL ============== */

/* ============== MOBILE PRICING ============== */

.pricing-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.pricing-title {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-flex;
    padding-bottom: 12px;
}

.pricing-subtitle {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 12px;
}

.pricing-description {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-size: 16px; 
    line-height: 1.75;
    color: #d1d1d1;
}

.pricing-top {
    margin-bottom: 20px;
}

.pricing-contant {
    background: rgba(37, 37, 50, 0.81);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.pricing-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
}

.pricing-item-title {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.pricing-item-description {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #b0b0b2;
    padding-left: 48px;
}

.pricing-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.pricing-image {
    width: 256px;
    height: 370px;
    margin-top: 30px;
    margin-left: 50px;
    position: relative;
}

.pricing-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-top: 2px solid rgb(12, 186, 241);
    border-left: 2px solid rgb(12, 186, 241);
    border-bottom: 2px solid rgb(233, 92, 233);
    border-right: 2px solid rgb(233, 92, 233);
    width: 250px;
    height: 200px;
    background: #252532;
}

.pricing-price-title {
    font-weight: 500;
    font-size: 14px; 
    line-height: 1.42857;
    color: #d1d1d1;
}

.pricing-price-subtitle {
    font-weight: 600;
    font-size: 60px; 
    line-height: 1.1;
    color: #fff;
    padding-bottom: 10px;
}

.pricing-price-description {
    font-weight: 400;
    font-size: 12px; 
    line-height: 1.66667;
    text-align: center;
    color: #b0b0b2;
}

.pricing-button {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.pricing-button-action {
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 18px 38px;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    border: none;
}

.pricing-button-action:hover,
.pricing-button-action:focus {
    font-size: medium;
    background: #ca6aeb;
    transition: all .3s ease 0s;
}

.pricing-body {
    position: absolute;
    margin-top: -150px;
    margin-left: 20px;
    z-index: 5;
}

/* ============== /MOBILE PRICING ============== */

/* ============== MOBILE PARTNERS ============== */

.partners-section {
    padding-top: 100px;
    padding-bottom: 50px;
}

.partners-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-flex;
    padding-bottom: 12px;
}

.partners-subtitle {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #fff;
    max-width: 390px;
}

.partners-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.partners-contant {
    background: url(./icon/parners-line.svg) top no-repeat;
    position: relative;
    max-width: 430px;
    height: 302px;
    margin: auto;
}

.partners-image {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
    left: 4%;
}

.partner-icon-photo {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partner1 {
    top: 3%;
    left: 45%;
}

.partner2 {
    top: 12.5%;
    left: 22%;
}

.partner3 {
    top: 12.5%;
    left: 68%;
}

.partner4 {
    top: 33%;
    left: 8%;
}

.partner5 {
    top: 33%;
    left: 82%;
}

.partner6 {
    top: 60%;
    left: 2%;
}

.partner7 {
    top: 60%;
    left: 88%;
}


/* ============== /MOBILE PARTNERS ============== */

@media screen and (min-width: 768px) {

.container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
}    
    
/* ============== TABLET HEADER ============== */

.header-mobil-button {
    display: none;
}

.header-menu {
    display: flex;
    gap: 40px;
    margin-left: 60px;
}

.header-vr-button {
    display: block;
}

.header-vr {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-container {
    padding: 10px 20px;
    max-width: 768px;
    height: 52px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
}

.menu-link:hover,
.menu-link:focus {
    background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
    transition: all .3s ease 0s;
}

.header-icon {
    fill: #fff;
}

.header-button {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    background-color: transparent;
    border-top: 2px solid rgb(12, 186, 241);
    border-left: 2px solid rgb(12, 186, 241);
    border-right: 2px solid rgb(233, 92, 233);
    border-bottom: 2px solid rgb(233, 92, 233);
}

.header-button:hover,
.header-button:focus {
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    border: none;
    transition: all .3s ease 0s;
    font-size: medium;
}



/* ============== /TABLET HEADER ============== */

/* ============== TABLET HERO ============== */

.hero {
    background-size: cover;
    background-position: revert;
}

.hero-container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-contant {
    max-width: 540px;
}

.hero-title {
    font-size: 64px;
}

.hero-description {
    max-width: 446px;
}

.hero-clients-list {
    margin-bottom: 60px;
}

.hero-photo-image {
    top: 50%;
    left: 50%;
    margin-right: 20px;
}

/* ============== /TABLET HERO ============== */

/* ============== TABLET ADVANTAGES ============== */

.advantages-section {
    margin-top: -240px;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.advantages-container {
    max-width: 768px;
    padding: 20px 42px;
}

.advantages-list {
    flex-direction: row;
}

.advantages-item {
    max-width: 324px;
}

/* ============== /TABLET ADVANTAGES ============== */

/* ============== TABLET ABOUT US ============== */

.about-section {
    margin-left: 4px;
    margin-right: 4px;
}

.about-container {
      display: flex;
      align-items: center;
      gap: 40px;
      max-height: 644px;
}

.about-subtitle {
    font-size: 36px;
}

.about-content {
    max-width: 362px;
}

.about-photo {
    margin-bottom: 0;
}

/* ============== /TABLET ABOUT US ============== */

/* ============== TABLET OUR SERVICE ============== */

.service-container {
    padding-left: 20px;
    padding-right: 20px;
}

.service-top {
    display: flex;
    gap: 50px;
}

.service-top-subtitle {
    font-size: 38px;
    width: 259px;
}

.service-card {
    max-width: 354px;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ============== /TABLET OUR SERVICE ============== */

/* ============== TABLET WHY CHOOSE US ============== */

.choose-subtitle {
    font-size: 40px;
}

.choose-item-text {
    font-size: 20px;
}

/* ============== /TABLET WHY CHOOSE US ============== */

/* ============== TABLET HOW TO GET STARTED ============== */

.started-subtitle {
    font-size: 40px;
}

.started-info {
    height: 488px;
    padding: 40px 30px;
}

/* ============== /TABLET HOW TO GET STARTED ============== */

/* ============== TABLET TESTIMONIAL ============== */

.testimonial-photo {
    top: 29.7%;
    left: 4%;
}

.testimonial-subtitle {
    font-size: 40px;
    line-height: 1.20833;
}

.client6 {
    top: 85%;
    left: 10%;
}

.client5 {
    top: 90%;
    left: 74%;
}

.client4 {
    top: 65%;
    left: 22%;
}

.client3 {
    top: 70%;
}

.client2 {
    left: 70%;
}

/* ============== /TABLET TESTIMONIAL ============== */

/* ============== TABLET PRICING ============== */

.pricing-top {
    margin-bottom: 30px;
}

.pricing-subtitle {
    font-size: 40px;
}

.pricing-image {
    margin-left: 450px;
}

.pricing-price {
    width: 321px;
    height: 222px;
    padding: 20px;
}

.pricing-body {
    margin-top: -180px;
    margin-left: 40px;
}

/* ============== /TABLET PRICING ============== */

/* ============== TABLET PARTNERS ============== */

.partners-top {
    margin-bottom: 32px;
}

.partners-subtitle {
    font-size: 40px;
    max-width: none;
}

.partners-contant {
    background: url(./icon/line-partners.svg) top no-repeat;
    max-width: 1055px;
    height: 541px;
}

.partners-image {
    top: 40%;
    left: 3.5%;
}

.partner1 {
    top: 4%;
}

.partner2 {
    top: 15%;
    left: 24%;
}

.partner3 {
    top: 15%;
    left: 67%;
}

.partner4 {
    top: 44%;
    left: 8.6%;
}

.partner5 {
    top: 44%;
}

.partner6 {
    top: 82%;
}

.partner7 {
    top: 82%;
}

/* ============== /TABLET PARTNERS ============== */

}

@media screen and (min-width: 1440px) {

.container {
    max-width: 1440px;
}    

/* ============== DESKTOP HEADER ============== */

.header-container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1440px;
}


.header-menu {
    gap: 60px;
    margin-left: 220px;
}

/* ============== /DESKTOP HEADER ============== */

/* ============== DESKTOP HERO ============== */


.hero-container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1440px;
}


.hero-clients {
    max-width: 540px;
    display: flex;
    gap: 75px;
}

.hero-contant {
    padding-top: 120px;
}

.hero-title {
    padding-bottom: 12px;
}

.hero-description {
    padding-bottom: 32px;
}

.hero-clients-list {
    margin: 0;
}

.hero-photo-image {
    top: 30%;
    left: 55%;
}

/* ============== /DESKTOP HERO ============== */

/* ============== DESKTOP ADVANTAGES ============== */

.advantages-section {
    margin-left: 120px;
    margin-right: 120px;
}

.advantages-container {
    max-width: 1440px;
    padding: 42px 64px;
}

.advantages-list {
    justify-content: space-between;
}

/* ============== /DESKTOP ADVANTAGES ============== */

/* ============== DESKTOP ABOUT US ============== */

.about-section {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 120px;
}

.about-container {
    padding-left: 0;
    padding-right: 0;
    gap: 100px;
}

.about-content {
    max-width: 562px;
}

.about-subtitle {
    font-size: 48px;
    line-height: 1.20833;
    width: 562px;
}

.about-photo {
    margin-bottom: 68px;
}

/* ============== /DESKTOP ABOUT US==============*/

/* ============== DESKTOP OUR SERVICE ============== */

.service-section {
    padding-left: 120px;
    padding-right: 120px;
}

.service-top-subtitle {
    font-size: 48px;
}

.service-top {
    gap: 275px;
}

.service-content {
    grid-template-columns: repeat(3, 1fr);
}

.service-card-design {
    margin-top: 60px;
}

.service-card-consulting {
    margin-top: 130px;
}

.service-card-games {
    margin-top: -130px;
}

.service-card-events {
    margin-top: -75px;
}

/* ============== /DESKTOP OUR SERVICE ============== */

/* ============== DESKTOP WHY CHOOSE US ============== */

.choose-section {
    padding-left: 120px;
    padding-right: 120px;
}

.choose-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.choose-contant {
    width: 548px;
}

.choose-subtitle {
    font-size: 48px;
}

/* ============== /DESKTOP WHY CHOOSE US ============== */

/* ============== DESKTOP HOW TO GET STARTED ============== */

.started-section {
    padding-left: 120px;
    padding-right: 120px;
}

.started-info {
    background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
            rgba(17, 17, 17, 0.40) 100%),
        url(./images/started/image-start-desk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 522px;
}

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .started-info {
                background-image: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                        rgba(17, 17, 17, 0.40) 100%),
                    url(./images/started/image-start-desk@2x.jpg);
            }
        }

.started-top {
    margin-bottom: 48px;
}

.started-subtitle {
    font-size: 48px;
}


.started-info-title {
    font-size: 36px;
    line-height: 1.22222;
    letter-spacing: -0.02em;
}
/* ============== /DESKTOP HOW TO GET STARTED ============== */

/* ============== DESKTOP TESTIMONIAL ============== */

.testimonial-section {
    margin-top: 250px;
}

.testimonial-top {
    margin-bottom: -200px;
}

.testimonial-subtitle {
    font-size: 48px;
}

.testimonial-photo {
    top: 21.7%;
    left: 18%;
}

.client1 {
    top: 25%;
    left: 15%;
}

.client2 {
    left: 60%;
}

.client3 {
    left: 50%;
}

.client4 {
    top: 45%;
    left: 78%;
}

.client5 {
    top: 80%;
}

.client6 {
    top: 75%;
    left: 20%;
}

/* ============== /DESKTOP TESTIMONIAL ============== */

/* ============== DESKTOP PRICING ============== */

.pricing-section {
    padding-left: 120px;
    padding-right: 120px;
}

.pricing-top {
    margin-bottom: 40px;
}

.pricing-subtitle {
    font-size: 48px;
    line-height: 1.20833;
}

.pricing-description {
    max-width: 625px;
}

.pricing-contant {
    flex-direction: row;
    padding-top: 55px;
    padding-left: 42px;
    padding-right: 0;
    position: relative;
}

.pricing-list {
    padding-bottom: 0;
    border-bottom: none;
    gap: 32px;
    max-width: 640px;
    margin-bottom: 42px;
    position: relative;
}

.pricing-list::after {
    content: "";
    width: 1px;
    height: 447px;
    display: block;
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    right: -78px;
}

.pricing-image {
    width: 360px;
    height: 520px;
    margin-left: auto;
    margin-top: auto;
}

.pricing-body {
    margin-left: 680px;
}

/* ============== /DESKTOP PRICING ============== */
 
}