/* ============== COMMON STYLES ============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #18181b;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    min-width: 320px;
    margin: auto;
}

/* ============== MOBILE HEADER ============== */

.header-menu {
    display: none;
}

.header-vr-button {
    display: none;
}

.header-vr {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-container {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-open-btn {
    width: 32px;
    height: 32px;
    background: none;
    border-top: 2px solid rgb(12, 186, 241);
    border-left: 2px solid rgb(12, 186, 241);
    border-bottom: 2px solid rgb(233, 92, 233);
    border-right: 2px solid rgb(233, 92, 233);
}

.mobile-menu-open-btn-icon {
    display: flex;
}

.logo-icon {
   fill: aliceblue;
}

.wrapper {
    background: url(./icon/waves.svg) top right no-repeat;
}

.header-vr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 50, .7);
    backdrop-filter: blur(10px);
    transition: all .5s ease 0s;
    opacity: 0;
}

/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.hero {
    padding-top: 30px;
}

.hero::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: -80%;
    width: 68.75rem;
    height: 45.0625rem;
    background: url(./icon/stripes.svg) center no-repeat;
}

.hero-container {
    padding-left: 16px;
    padding-right: 16px;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.20833;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 10px;
}

.hero-description {
    font-weight: 300;
    font-size: 16px; 
    line-height: 1.75;
    color: #d1d1d1;
    padding-bottom: 20px;
}

.hero-button-action {
    font-weight: 700;
    font-size: 14px; 
    line-height: 1;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 18px 38px;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    display: flex;
    border: none;
}

.hero-contant {
    margin-bottom: 32px;
}

.hero-clients-list {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 85px;
}

.underline {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    padding-right: 8px;
}

.clients-text {
    font-weight: 300;
    color: #d1d1d1;
}

.clients-list {
    display: flex;
    margin-left: 12px;
}

.clients-item {
    margin-left: -12px;
}

.hero-clients-video {
    display: flex;
    align-items: center;
}

.clients-video-play-button {
    border-radius: 100%;
    border: 1.17px solid #fff;
    background-color: transparent;
    content: "";
    position: absolute;
    left: 18%;
}

.clients-video-open-btn-icon {
    fill: #fff;
}
    

/* ============== /MOBILE HERO ============== */

@media screen and (min-width: 768px) {
    
/* ============== TABLET HEADER ============== */

.header-mobil-button {
    display: none;
}

.header-menu {
    display: flex;
    gap: 40px;
    margin-left: 60px;
}

.header-vr-button {
    display: block;
}

.header-vr {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-container {
    padding: 10px 20px;
    max-width: 768px;
    height: 52px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
}

.header-icon {
    fill: #fff;
}

.header-button {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    background-color: transparent;
    border-top: 2px solid rgb(12, 186, 241);
    border-left: 2px solid rgb(12, 186, 241);
    border-right: 2px solid rgb(233, 92, 233);
    border-bottom: 2px solid rgb(233, 92, 233);
}

/* ============== /TABLET HEADER ============== */
}

@media screen and (min-width: 1440px) {

/* ============== /MOBILE HEADER ============== */

.header-container {
    max-width: 1200px;
}

.header-menu {
    gap: 60px;
    margin-left: 220px;
}

/* ============== /MOBILE HEADER ============== */
}