/* ============== COMMON STYLES ============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: #18181b;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 360px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.wrapper {
    background: url(./icon/waves.svg) top right no-repeat;
    background-size: contain;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ============== MOBILE HEADER ============== */

.header-menu {
    display: none;
}

.header-vr-button {
    display: none;
}

.header-vr {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header-container {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-open-btn {
    width: 32px;
    height: 32px;
    background: none;
    border-top: 2px solid rgb(12, 186, 241);
    border-left: 2px solid rgb(12, 186, 241);
    border-bottom: 2px solid rgb(233, 92, 233);
    border-right: 2px solid rgb(233, 92, 233);
}

.mobile-menu-open-btn:hover,
.mobile-menu-open-btn:focus {
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    border: none;
    transition: all .3s ease 0s;
}

.mobile-menu-open-btn-icon {
    display: flex;
}

.logo-icon {
   fill: aliceblue;
}




/* ============== /MOBILE HEADER ============== */

/* ============== MOBILE HERO ============== */

.hero {
    padding-top: 30px;
    padding-bottom: 300px;
    background: linear-gradient(rgba(17, 17, 17, 0.00) 0%,
                rgba(17, 17, 17, 0.40) 100%),
            url(./icon/stripes.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
}

.hero-container {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 100%;
}

.hero-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.20833;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 10px;
}

.hero-description {
    font-weight: 300;
    font-size: 16px; 
    line-height: 1.75;
    color: #d1d1d1;
    padding-bottom: 20px;
}

.hero-button-action {
    font-weight: 700;
    font-size: 14px; 
    line-height: 1;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 18px 38px;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    display: flex;
    border: none;
}

.hero-button-action:hover,
.hero-button-action:focus {
    font-size: medium;
    background: #ca6aeb;
    transition: all .3s ease 0s;
}

.hero-contant {
    margin-bottom: 32px;
}

.hero-clients-list {
    max-width: 278px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 120px;
}

.underline {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    padding-right: 8px;
    position: relative;
}

.underline::before {
    display: block;
    content: "";
    position: absolute;
    width: 48px;
    height: 7px;
    left: 50%;
    bottom: -5%;
    background: url(./icon/smear.svg) center no-repeat;
    transform: translateX(-50%);
}

.clients-text {
    font-weight: 300;
    color: #d1d1d1;
}

.clients-list {
    display: flex;
    margin-left: 12px;
}

.clients-item {
    margin-left: -12px;
}

.hero-column {
    max-width: 196px;
}

.hero-clients-video {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 196px;
}

.play::before {
    content: "";
    position: absolute;
   top: auto;
   left: auto;
    width: 1.75rem;
    height: 1.75rem;
    background: url(./icon/play.svg) center no-repeat;
    z-index: 2;
}

.hero-column {
    content: "";
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.hero-photo-image {
    content: "";
    position: absolute;
    width: auto;
    height: 100%;
    left: 40%;
    top: 63%;
    margin: auto;
}
/* ============== /MOBILE HERO ============== */

/* ============== MOBILE ADVANTAGES ============== */

.advantages-section {
    padding-top: 36px;
    padding-bottom: 36px;
    background: #252532;
    margin-top: -200px;
    margin-bottom: 50px;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;   
}

.advantages-container {
   padding-left: 36px;
   padding-right: 36px;
}

.advantages-list-title {
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-bottom: 12px;
}

.advantages-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #b0b0b2;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.icon {
    padding-bottom: 42px;
}

/* ============== /MOBILE ADVANTAGES ============== */

/* ============== MOBILE ABOUT US ============== */

.about-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.about-photo {
    margin-bottom: 48px;
}

.about-photo-image {
    background-color: #252532;
}

.about-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 12px;
    display: inline-block;
}

.about-subtitle {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    color: #fff;
    padding-bottom: 12px;
}

.about-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #d1d1d1;
    padding-bottom: 24px;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-bottom: 32px;
}

.about-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    padding-left: 28px;
    background: url(./icon/check-box.svg) left center/16px 16px no-repeat;
}

.about-button-action {
    font-weight: 700;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        padding: 18px 38px;
        background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
        display: flex;
        border: none;
}

.about-button-action:hover,
.about-button-action:focus {
    font-size: medium;
    background: #ca6aeb;
    transition: all .3s ease 0s;
}

/* ============== /MOBILE ABOUT US ============== */

@media screen and (min-width: 768px) {

.container {
    max-width: 768px;
}    
    
/* ============== TABLET HEADER ============== */

.header-mobil-button {
    display: none;
}

.header-menu {
    display: flex;
    gap: 40px;
    margin-left: 60px;
}

.header-vr-button {
    display: block;
}

.header-vr {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-container {
    padding: 10px 20px;
    max-width: 768px;
    height: 52px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
}

.menu-link:hover,
.menu-link:focus {
    background: linear-gradient(90deg, #0cbaf1 0, #e95ce9 100%);
    transition: all .3s ease 0s;
}

.header-icon {
    fill: #fff;
}

.header-button {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: #fff;
    background-color: transparent;
    border-top: 2px solid rgb(12, 186, 241);
    border-left: 2px solid rgb(12, 186, 241);
    border-right: 2px solid rgb(233, 92, 233);
    border-bottom: 2px solid rgb(233, 92, 233);
}

.header-button:hover,
.header-button:focus {
    background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
    border: none;
    transition: all .3s ease 0s;
    font-size: medium;
}



/* ============== /TABLET HEADER ============== */

/* ============== TABLET HERO ============== */

.hero {
    background-size: cover;
    background-position: revert;
}

.hero-container {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-contant {
    max-width: 540px;
}

.hero-title {
    font-size: 64px;
}

.hero-description {
    max-width: 446px;
}

.hero-clients-list {
    margin-bottom: 60px;
}

.hero-photo-image {
    top: 50%;
    left: 50%;
    margin-right: 20px;
}

/* ============== /TABLET HERO ============== */

/* ============== TABLET ADVANTAGES ============== */

.advantages-section {
    margin-top: -240px;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.advantages-container {
    max-width: 768px;
    padding: 20px 42px;
}

.advantages-list {
    flex-direction: row;
}

.advantages-item {
    max-width: 324px;
}

/* ============== /TABLET ADVANTAGES ============== */

/* ============== TABLET ABOUT US ============== */

.about-section {
    margin-left: 4px;
    margin-right: 4px;
}

.about-container {
      display: flex;
      align-items: center;
      gap: 40px;
      max-height: 644px;
}

.about-subtitle {
    font-size: 36px;
}

.about-content {
    max-width: 362px;
}


/* ============== /TABLET ABOUT US ============== */
}

@media screen and (min-width: 1440px) {

/* ============== DESKTOP HEADER ============== */

.header-container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1440px;
}


.header-menu {
    gap: 60px;
    margin-left: 220px;
}

/* ============== /DESKTOP HEADER ============== */

/* ============== DESKTOP HERO ============== */


.hero-container {
    padding-left: 120px;
    padding-right: 120px;
    max-width: 1440px;
}


.hero-clients {
    max-width: 540px;
    display: flex;
    gap: 75px;
}

.hero-contant {
    padding-top: 120px;
}

.hero-title {
    padding-bottom: 12px;
}

.hero-description {
    padding-bottom: 32px;
}

.hero-clients-list {
    margin: 0;
}

.hero-photo-image {
    top: 30%;
    left: 55%;
}

/* ============== /DESKTOP HERO ============== */

/* ============== DESKTOP ADVANTAGES ============== */

.advantages-section {
    margin-left: 120px;
    margin-right: 120px;
}

.advantages-container {
    max-width: 1440px;
    padding: 42px 64px;
}

.advantages-list {
    justify-content: space-between;
}

/* ============== /DESKTOP ADVANTAGES ============== */
}